<div class="container">
  <div class="row justify-center">
    <div class="col-md-6">
      <div class="widget-area no-padding blank">
        <div class="status-upload">
          <form (submit)="postTextKweet()" [formGroup]="form">
            <textarea type="text" formControlName="text" placeholder="What keeps you busy?"></textarea>
            <button class="btn btn-primary" [disabled]="!form.valid">Kweet</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>