<app-navbar></app-navbar>
<table class="table table-dark bg-default">
  <thead>
    <tr>
      <th scope="col">Email</th>
      <th scope="col">Username</th>
      <th scope="col">Moderator</th>
      <th scope="col">Blocked</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users | async">
      <td>{{user.email}}</td>
      <td>{{user.username}}</td>
      <td>{{user.roles | role}}</td>
      <td>No</td>
    </tr>
  </tbody>
</table>