.comment-wrapper .panel-body {
  max-height: 650px;
  overflow: auto;
}

.comment-wrapper .media-list .media img {
  width:64px;
  height:64px;
  border:2px solid #e5e7e8;
}

.comment-wrapper .media-list .media {
  border-bottom:1px dashed #efefef;
  margin-bottom:40px;
}

.media-body {
  margin-left: 15px;
}

.media {
  margin-bottom: 30px;
}

.comment-control {
  margin: 0 10px; 
  font-size: 13px;
}

.widget-area {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  float: left;
  padding: 10px 30px;
  position: relative;
  width: 100%;
  }
  .status-upload {
  background: none repeat scroll 0 0 #32364e;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  float: left;
  width: 100%;
  }
  .status-upload form textarea {
  background: none repeat scroll 0 0 #32364e;
  border: medium none;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
  -ms-border-radius: 4px 4px 0 0;
  -o-border-radius: 4px 4px 0 0;
  border-radius: 4px 4px 0 0;
  color: #777777;
  float: left;
  height: 100px;
  letter-spacing: 0.3px;
  padding: 20px;
  width: 100%;
  resize:vertical;
  outline:none;
  color: #fafafa;
  resize: none;
  }
  
  .justify-center {
    justify-content: center;
  }