<div class="media">
  <a class="pull-left">
      <img src="https://www.actuall.eu/wp-content/uploads/2016/10/cropped-White-box.jpg" height="64" width="64" alt="" class="img-circle">
  </a>
  <div class="media-body">
      <span class="text-muted pull-right">
          <small class="text-muted">xxx min ago</small>
      </span>
      <strong class="text-success">@{{textKweet.username}}</strong>
      <p *ngIf="!isBeingEdited">
        {{textKweet.text}}
      </p>
      <div *ngIf="isBeingEdited"> 
        <div class="justify-center">
          <div class="col-md-6">
            <div class="widget-area no-padding blank">
              <div class="status-upload">
                <form (submit)="saveEditedKweet()" [formGroup]="editKweetForm">
                  <textarea type="text" formControlName="text"></textarea>
                  <button class="btn btn-primary" [disabled]="!editKweetForm.valid">Save</button>
                  <a (click)="isBeingEdited=false" style="margin-right: 10px; margin-top: 6px;" routerLink="" class="pull-right">Cancel</a>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <span *ngIf="!isBeingEdited && isPostedByCurrentUser" class="comment-control pull-left">
        <a routerLink="" (click)="isBeingEdited=true">edit</a>
      </span>
  </div>
</div>