<nav class="navbar navbar-expand-lg navbar-dark bg-default">
  <div class="container">
    <a routerLink="/home" class="navbar-brand">Kwetter</a>
    <form class="form-inline">
      <input class="form-control mr-sm-1" type="search" placeholder="Search" aria-label="search" />
    </form>
    <a routerLink="/moderation" class="nav-link" *ngIf="isModerator">Moderators</a>
    <button (click)="logIn()" *ngIf="!isLoggedIn" class="btn btn-primary" type="button">Log in</button>
    <button (click)="logOut()" *ngIf="isLoggedIn" class="btn btn-primary" type="button">Log out</button>
  </div>
</nav>