<div *ngIf="userKweets && userKweets.length !== 0 else noKweetsPosted" class="row">
  <div class="col-md-12 col-sm-12">
      <div class="comment-wrapper">
          <div class="panel panel-info">
              <div class="panel-body">
                  <hr>
                  <div *ngFor="let textKweet of userKweets">
                    <app-posted-text-kweet-box [textKweet]="textKweet"></app-posted-text-kweet-box>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<ng-template #noKweetsPosted>
  <p>No kweets posted yet.</p>
</ng-template>