<div class="row">
  <div class="offset-lg-8 col-lg-4">
        <p class="acc-text">Already have an account?         <a href="#" (click)="logIn()">Sign in</a></p>
  </div>
</div>
<div class="container fill-height">
  <div class="row">
   <div class="col-lg-1"></div>
     <div class="centered-content col-lg-10">
          <h2 style="text-align:center;">Want to use this application?</h2>
          <div class="center">
            <button class="btn btn-primary" (click)="signUp()">Sign up</button>        
          </div>
     </div>
   <div class="col-lg-1"></div>
 </div>
</div>