.fill-height {
  position: relative;
   min-height: 100%;
   height:100vh;
 }

.centered-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(255, 255, 255); /*white text*/
  font-weight: bold
}

.button {
  display:block;
  margin: 0 auto;
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.acc-text {
  color: #d5b3ff;
}